/* body styling */
body{margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* logo styling */
.logo{
    width: 200px;
    height: 60px;
    margin-left: 5rem;
} 

/* nav bar styling */
#nav-links{
    display: flex;
    justify-content: space-between;
    background-color: rgba(59, 63, 74, 0.146);
}
   
/* listed items as a whole styling */
#ul-list{
    display: flex;
    list-style: none;
    gap: 30pt;
    margin-right: 5rem;
    gap: 3rem;
}

/* individual listed items styling */
.nav-item{
    text-decoration: none;
    color: #3C6888;
    font-weight: 200;
    font-size: 13pt;
}

#ul-list a:hover{
    background-color: #ABA944;
}

#loginIcon{
    margin-right: 2pt;
}

/* header img styling */
.header-bg{
    background-image: url("");
    background-position: left;
    background-size:cover;
    height: 100vh;
    width: 100%;
}

/* search bar styling */
.input-div{
    margin-left: 18rem; 
}

.input-div input{
    width: 25rem;
    height: 3rem;
    background-color: #eeeeee6c;
    border-color: #eeeeee67;
    color:#5d5c30;
    font-size: 20px; 
    padding-left: 20pt; 

}

.input-div a{
    text-decoration: none;
    color: #0d3558;
    font-size: 14pt;
    font-family: cursive;
}

/* Styling search icon */

.icon1{
    margin-left: 0.5rem;
    background-color:#91903b8b;
    padding: 12pt 20pt;
}


/* header text stylibg */
.header-text{
    margin-left: 10rem;
    margin-top: 10rem;  
}

/* Styling individual texts */
.header-text h1{
    margin-left: 7rem;
    font-family: cursive;
    color:#918f3b;
}

.header-text h2{
    color: #0d3558; 
}

#header-h21{
    margin-left: 23pt;
    margin-bottom: -1rem; 
    
}

#header-h22{
margin-left: 12rem;
margin-top: -1rem;
margin-bottom: 2rem;
color: #0d3558;
}

/* Secion1 grid */

.Section1-grid{
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 0px;
}


/* Styling icons for section1 grid */
.icon{

    background-color:#0d3558;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
}
/* first section styling */
.Section1{
    padding-left: 2rem ;
    padding-right: 4rem;
    padding-bottom: 5rem;
   
}
/* first section h2 styling */
.Section1 h1{
    margin-left: 27rem;
    color: #0d3558;
    font-weight: 900;
    font-family: cursive;
    margin-bottom: 4rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

/* background for the section 1 divs */
.Section1-divbg{
    background-color:#91903bb9;
    border-radius: 1rem;
    padding: 18pt;
    padding-right: 5rem;
    margin-bottom: 2rem;
}

/* styling section 1 div texts */
.firstSectionText{
    margin-left: 27pt;
    font-size: 11pt;
    font-weight: 900;
    color: #0d3558;
}
/* .eye{
    margin-left: 30pt;
}

.gyn{
  
    margin-right: 10pt;
} */

.dentist{
    margin-left: 50pt;
}

/* section 2 grid */
.section2{
    padding-top: 5rem;
    padding-left: 20pt;
   
}

/* styling the a tag in section2 */
.section2 a{
    text-decoration: none;
    color: #0d3558;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section2 a:hover{
    color: #ABA944;
}

  
/* section2 grid */
.section2-grid{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 15rem;
        
}


/* section 2 h1 styling */
.section2 h1{
    margin-left: 30rem;
    color:#0d3558;
    font-weight: 900;
    font-family: cursive;
    padding-bottom: 4rem;
}

/* styling section 2 span */

.section2 span{
    font-weight: 900;
    font-size: 30pt;
    color:#103556;
    
}

/* styling section2 h2 */
.section2 h2{
    margin-left: 26rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: 15pt;
    color:#918f3b;
    padding-bottom: -3rem;
}

/* section2 imgs */
.section2 img{
    height: 150pt;
    margin-left: -2rem;
    
    margin-top: 4rem;  
}

    

/* styling section paragraph */

.section2 p{
    color: #78773b;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    width: 17rem;
    font-stretch: ultra-expanded;
    /* font-stretch: extra-expanded; */
   
}

/* footer logos styling */
.appleStore{
    width: 150px;
    height: 50px;
    margin-left: 15rem; 
}

.playStore{
    width: 150px;
    height: 50px;
    
    margin-left: 2rem;
}

/* styling the footer */


/* footer first p styling */

.footer-p1{
    font-family: cursive;
    font-size: 12pt;
    color: #918f3b;
    margin-left: 2rem;
    margin-top: -0.5rem;
    /* font-stretch: ultra-expanded; */
} 

/* Footer flex */
.footer-flex{
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem;
    padding-right:8rem ;

}

/* styling footer grid */

.footergrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    padding-left: 8rem;
    padding-right: 4rem;
}

/* footer texts styling */
.footergrid h1{
    text-decoration: underline;
    color: #0d3558;
    text-decoration-color: #0d3558;
    font-family: cursive;
    font-size: 15pt;  

}

.footergrid a{
    text-decoration: none;
    color: #78773b;
    font-family: cursive;

}

.footergrid a:hover{
    color: #103b6099;
}

.social i{
        background-color: #26355D;
        padding: 20px;
        color: white;
        border-radius: 10px;
        margin-top: 1rem;
        margin-left: 4rem;
}

/* contact us styling */
.lastFlex{
    display: flex;
    justify-content: space-evenly;
}

.lastFlex a{
    text-decoration: underline;
    color: #0d3558;
    text-decoration-color: #0d3558;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 4rem;
}

.lastFlex a:hover{
    color:#78773b;
}

.lastFlex h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0d3558;

}
.lastFlex h3{
    margin-left: 10rem;
}

.lastFlex i{
    margin-right: 1rem ;
}


  

/* styling section2 divs backgrounds */
/* .section2-divbg{
    background-color: #598cb9a4;
} */


/* styling find doctor button */
/* .searchButton{
    padding: 20pt;
    width: 1rem;
    height: 2rem;
    border-radius: 1.5rem;  
} */




/* styling search icon */
/* .icon{
    background-color: #2a3b69;
    padding: 20px;
    color: white;
    border-radius: 10px;
    margin-top: 2rem;
}


.inputdiv input{
    width: 25rem;
    height: 3rem;
    background-color: #eeeeee6c;
    border-color: #eeeeee67;
    color: #c3b113;
    font-size: 20px; 
    padding-left: 20pt; 
}
 */





